.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #4158d0;
    color: #fff;
    transition: all 0.3s;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url('https://wallpapercave.com/wp/wp2465921.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: #000000;
}

.show{
    width: 100%;
}

.app-title{
    padding: 55px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .active {
        margin-left: 0;
    }
}