.content-menu{
    width: calc(100% - 250px);
    position: absolute;
    right: 0;
}

.content-principal{
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5rem;
}

.show{
    margin-right: 3rem;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .content-principal {
        width: 100%;
    }


    .content-principal.active {
        width: calc(100% - 250px);
    }

    .content-menu{
        width: 100%;
    }
    .content-menu.active {
        width: calc(100% - 250px);
    }
}